/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
*
text{
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --blue:#007d7b;
    --black:#000000;
    --white:#ffffff;
}

html{
    border:20px;
    position:relative;
    justify-content: center;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size:1.25em;
}
figcaption, label, input, small{
    font-size:1em;
}
nav a{
    font-size:1.5em;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
body {
    width: 485px;
    background-color: white;
    margin:0 40px;
}
h1, h2, h3{
    text-transform: uppercase;
}
h3{
    justify-content: center;
}
h1, h2{
    font-weight:bold;
}
a{
    text-decoration: none;
    color:white;
}
li{
    display: inline-table;
    text-transform: uppercase;
    padding: 3px;
    color:white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    font-size:35px;
    color:#007d7b;
    text-align: center;
    background-color: white;
}
header nav{
    position:relative;
    display:grid;
    overflow: auto;   
    justify-content:center;
    margin:auto;
    text-align: center;
    background-color: #000000;
}
#about{
    display:block;
    position:relative;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding:20px;
    text-wrap: wrap;
}
h2{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
    padding: 10px;
}
#about p{
    text-align: left;
}
.gallery{
    display:flex;
    position:relative;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    justify-content: center;
}
#gallery p{
    text-align: left;
    margin: 10px;
}
@media screen and (min-width:880px){



}

@media screen and (min-width:1300px){



}
